Adafruit-Blinka                          
Adafruit-Blinka-Raspberry-Pi5-Neopixel   
adafruit-circuitpython-amg88xx           
adafruit-circuitpython-apds9960          
adafruit-circuitpython-bme280            
adafruit-circuitpython-bme680            
adafruit-circuitpython-bmp280            
adafruit-circuitpython-busdevice         
adafruit-circuitpython-cap1188           
adafruit-circuitpython-connectionmanager 
adafruit-circuitpython-dotstar           
adafruit-circuitpython-lis3mdl           
adafruit-circuitpython-lsm6ds            
adafruit-circuitpython-mlx90640          
adafruit-circuitpython-mpr121            
adafruit-circuitpython-neopixel          
adafruit-circuitpython-pixelbuf          
adafruit-circuitpython-register          
adafruit-circuitpython-requests          
adafruit-circuitpython-scd4x             
adafruit-circuitpython-sht31d            
adafruit-circuitpython-typing            
Adafruit-PlatformDetect                  
Adafruit-PureIO                                                           
colour 
luma.lcd
luma.core
numpy
python-vlc
pynmeagps
pillow
opencv-python
scipy
psutil
pygame
