QListWidget {
    color: #FFFFFF;
    background-color: #000000;
    border-radius: 25px;  
}

QListWidget::item {
    background-color: #2255ff;
    border-style: solid;
    border-width:1px;
    border-color: #000000;
    margin: 5px;
    max-width:25px;
    max-height:50px;
    min-width:25px;
    min-height:50px;
    border-radius: 25px;  
    color: #000000;
    font: bold 14px;
    padding-right: 15px;

}

QGraphicsView {
    color: #FFFFFF;
    background-color: #000000;
    border-radius: 25px;  
    color: #000000;
    max-height:80px;
    min-width:25px;
    border-radius: 25px; 
}



QListWidget::item:selected {
    background-color: #f5f6fa;
    border-style: solid;
    color: #000000;
    margin: 5px;
    max-width:25px;
    max-height:50px;
    min-width:25px;
    min-height:50px;
    border-radius: 25px;  
    font: bold 14px;
    padding-right: 15px;
}

QLabel {
    background-color: #FFFFFF;
    qproperty-alignment: AlignCenter;
}

QPushButton {
    background-color: #2255ff;
}


QMainWindow {
    background-color: #000000;
}
